node_modules
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
test-results/
playwright-report/
e2e/assets/3d-tiles/0composite0.glb
e2e/assets/3d-tiles/0material26_0.glb
e2e/assets/3d-tiles/0material26_00.glb
e2e/assets/3d-tiles/0material26_01.glb
e2e/assets/3d-tiles/0material26_02.glb
e2e/assets/3d-tiles/0material26_03.glb
e2e/assets/3d-tiles/tileset.json
